body {
    /* background: url(https://previews.123rf.com/images/prairatfhunta/prairatfhunta1705/prairatfhunta170500083/77755459-white-marble-texture-luxury-wallpaper-pattern-can-be-used-for-creating-a-white-background-and-surfac.jpg) no-repeat; */
    background-size:cover;
}

main {
    background-color: rgb(253, 253, 253);
    margin: 20px;
}

p{
    font-size: 18px;
}

footer {
    margin-top: 40px;
    text-align: center;
}